extends layout

block content
  p
    | 
  div(class="about-div")
    h1(class='boxed') about
    img(id='drawvid-display',src='https://s3.amazonaws.com/drawvid-posts/selfhoodie-cropped.png', alt='self', class='homepost')
    p welcome to my website
    p i like programming and drawing, and i'm building this site to bring the two together :)
    p here is my <a href="http://twitter.com/drawvid">twitter.</a>
    p <b>contact:</b> drawvid@gmail.com or DM me on twitter.
