extends layout

block content
  p
    | 
  div(class="about-div")
    h1(class='about-title', id='boxed-title') about
    img(id='drawvid-display',src='https://s3.amazonaws.com/drawvid-posts/selfhoodie-cropped.png', alt='self', class='homepost')
    div(class='bolded-body-text')
      p welcome to my website
      p i draw stuff and program things
      p here is my <a href="http://twitter.com/drawvid">twitter.</a>
      p <b>contact:</b> drawvid@gmail.com or DM me on twitter.
