extends layout

block scripts
  script(src='/javascripts/archive-client.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js")

block content
  p
    | 
  div(class="archive-div")
    h1(class='archive-title', id='boxed-title') archive
    div(id='archive-list')
      ul(id='list')