extends layout

block scripts
  script(src='/javascripts/archive-client.js')

block content
  p
    | 
  div(class="archive-div")
    h1(class='archive-title', id='boxed-title') archive
    div(id='archive-list')
      ul(id='list')