extends layout

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/small-man.js')

block content
  p
    | 
  div(class="about-div")
    h1(class='etc-title', id='boxed-title') etc.
    ul(class='body-list')
      li
        a(href='http://drawvid.com/small-man') small-man.js