extends layout

block content
  p
    | 
  div(class="about-div")
    h1(class='etc-title', id='boxed-title') etc.
    ul(class='body-list')
      li
        a(href='http://drawvid.com/small-man') small-man.js
      li
        a(href='http://localhost:3000/gallery') gallery.js