extends layout

block scripts
  script(src='/javascripts/client.js')
block content
  p
    | 
  div(class="drawing-div")
    img(id='main-display',src=imagename, alt='self', class='homepost')
  |
  div(class="controls")
    input(class='prev-next', id="prev", value='prev     <<', type='button', onclick='prevDrawing()')
    |
    |
    input(id="random", value='random', type='button', onclick='randomDrawing()')
    |
    |
    input(class='prev-next', id="next", value='>>     next', type='button', onclick='nextDrawing()')
