doctype html
html
  head
    title=title
    block scripts

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/emojiCursor.js')
    link(rel='icon', href='/images/favicon.ico')
  body
    div(class='header')
      h1 drawvid.com
      // Site navigation menu
      div(class='nav-menu')
        ul.navbar
          li
            a(class='home-title', title='home', href='/')
              img(border='0', title='home', src='/images/home.png', class='menu-item-img')
              p(class='menu-title') home
          li
            a(class='archive-title', title='archive', href='/archive')
              img(border='0', title='archive', src='/images/archive.png', class='menu-item-img')
              p(class='menu-title') archive
          li
            a(class='about-title', title='about', href='/about')
              img(border='0', title='about', src='/images/about.png', class='menu-item-img')
              p(class='menu-title') about
          li
            a(class='etc-title', title='etc', href='/etc')
              img(border='0', title='etc', src='/images/etc.png', class='menu-item-img')
              p(class='menu-title') etc.

    block content

    div(class='footer')
      address
        div(class='footer-title') @drawvid
        br
        div(class="twitter-link")
          a(href='http://twitter.com/drawvid')
            img(border='0', alt='twitter', src='/images/twitter.png', class='social-icon-img')
          a(href='https://www.instagram.com/drawvid')
            img(border='0', alt='instagram', src='/images/instagram.png', class='social-icon-img')
        |
        br
        | 2019
        br
        | drawvid.com
