doctype html
html
  head
    title=title
    block scripts

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h1 drawvid.com
      // Site navigation menu
      div(class='nav-menu')
        ul.navbar
          li
            a(class='home-title', href='/')
              img(border='0', alt='home', src='/images/home.png', class='menu-item-img')
          li
            a(class='archive-title', href='/archive')
              img(border='0', alt='home', src='/images/archive.png', class='menu-item-img')
          li
            a(class='about-title', href='/about')
              img(border='0', alt='home', src='/images/about.png', class='menu-item-img')
          li
            a(class='etc-title', href='/etc')
              img(border='0', alt='home', src='/images/etc.png', class='menu-item-img')
              
    block content

    div(class='footer')
      address
        div(class="twitter-link")
          a(href='http://twitter.com/drawvid') twitter.com/drawvid
        |
        br
        | 2019
        br
        | drawvid.com
