doctype html
html
  head
    title=title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 drawvid.com
    // Site navigation menu
    ul.navbar
      li
        a(href='index.html') home
      li
        a(href='archive.html') archive
      li
        a(href='about.html') about
      li
        a(href='misc.html') misc

    block content

    address
      | 2019
      br
      |   drawvid
