doctype html
html
  head
    title=title
    block scripts

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 drawvid.com
    // Site navigation menu
    ul.navbar
      li
        a(href='/') home
      li
        a(href='/archive') archive
      li
        a(href='/about') about
      li
        a(href='/misc') misc

    block content

    address
      | 2019
      br
      |   drawvid
