doctype html
html
  head
    title=title
    block scripts

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h1 drawvid.com
      // Site navigation menu
      ul.navbar
        li
          a(class='home-title', href='/') home
        li
          a(class='archive-title', href='/archive') archive
        li
          a(class='about-title', href='/about') about
        li
          a(class='etc-title', href='/etc') etc.

    block content

    div(class='footer')
      address
        | 2019
        br
        |   drawvid
