extends layout

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/small-man.js')

block content
  p
    | 
  div(class="about-div")
    h1(id='boxed-title') small-man.js
    p i have trapped this small, spacesuit-clad man in my webpage
    |
    p watch as he tries in vain to escape my clutches hahahahahah
    div(id="canvas-div")