extends layout

block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/javascripts/upload-mode.js')
    script(src='/javascripts/hashes.js')

block content
    h1(id='boxed-title') upload
    br
    label(for='replyTweetID') reply tweet link:
    br
    input(type='text', id='replyTweetID')
    br
    label(for='tweetText') text:
    br
    input(type='text', id='tweetText')
    br
    label(for='siteCheck') website:
    input(type='checkbox', id='siteCheck')
    label(for='tweetCheck') &nbsp; twitter:
    input(type='checkbox', id='tweetCheck')
    label
    br
    div(id='upload-area') 
    br    
    label(for='textInput') #{message}
    br
    input(type='password', id='textInput')
    br
    input(id='uploadButton', value='upload', type='button')