extends layout

block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/javascripts/upload-mode.js')

block content
    h1(id='boxed-title') upload
    div(id='upload-area') #{message}
    br
    br
    input(type='text', id='textInput')
    br
    input(id='uploadButton', value='upload', type='button')