title {
  font: "Times New Roman";
  text-align: center;
}
img.homepost {
  max-width: 60%;
  height: auto;
  max-height: 75%;
}
body {
  text-align: center;
  padding-left: 0;
  font-family: "Times New Roman";
  color: black;
  background-color:whitesmoke
}
ul.navbar {
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
h1 {
  font-family: "Times New Roman" 
}
ul.navbar li {
  display: inline;
  margin: 0.5em 0;
  padding: 0.3em;
}
ul.navbar a {
  display: inline-block;
  padding: 10px;
}
a:visited {
  color: purple 
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}
input.prev-random {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444; 
  cursor: pointer;
}