title {
  font: "Times New Roman";
  text-align: center;
}
.drawing-div {
  text-align: center;
}
img.homepost {
  max-width: 60%;
  height: auto;
  max-height: 75%;
  display: inline-block;
}
img.archivepost {
  max-width: 70%;
  height: auto;
}
body {
  text-align: center;
  font-weight: bold;
  padding-left: 0;
  font-family: "Times New Roman";
  color: black;
  background-color:whitesmoke;
}
ul.navbar {
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
h1 {
  font-family: "Times New Roman" 
}
ul.navbar li {
  display: inline;
  background-color: rgb(205, 220, 235);
  -webkit-animation:color-change 10s infinite alternate;
}
ul.navbar a {
  display: inline-block;
  padding: 10px;
}
img.menu-item-img {
  max-width: 40%;
}
ul.navbar a:hover, ul.navbar a:visited, ul.navbar a:link, ul.navbar a:active
{
  text-decoration: none;
}
ul.body-list {
  align-content: center;
  padding: 0;
  list-style-type: none;
}
ul.body-list li a {
  text-decoration: none;
}
.home-title {
  color: yellow;
  text-decoration: underline;
}
.archive-title {
  color: rgb(235, 86, 86);
}
.about-title {
  color: green;
}
.etc-title {
  color: blue;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
.prev-next {
  color: black;
  background-color: rgb(205, 220, 235);
  padding: 0.75em 1em;
  border: none;
  border-radius: 15px;
  font-weight: bold; 
}
#random {
  background-color: pink;
  font-weight: bold;
  padding: 0.75em 1em;
  border: none;
  border-radius: 15px;
}
#drawvid-display {
  max-width: 15%;
  height: auto;
  max-height: 50%;
}
#boxed-title {
  text-align: center;
  vertical-align: middle;
  background: rgb(205, 220, 235);
}
.bolded-body-text {
  font-weight: bold;
}
canvas {
  border: 1em solid rgb(170, 238, 218);
  border-radius: 10px;
}
li.archive-item {
  font-size: 70%;
  font-weight: lighter;
}
button {
  padding: 0.75em 1em;
  border: none;
  border-radius: 15px;
}
button.archive-button:hover {
  opacity: 0.7;
}
.twitter-link {
  font-weight: bold;
  font-style: normal;
}
.desc-box-container {
  text-align: center;
}
.desc-box {
  display: inline-block;
  background-color: rgb(205, 220, 235);
  border-radius: 15px;
}
#drawing-text {
  font-weight: bolder;
  padding: 1em 1em 0 1em;
}
#drawing-date {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.75em;
  padding: 0 1em 2em 1em;
}

@-webkit-keyframes color-change {
  0% {
    background-color: blue;
  }
  10% {
    background-color: #8e44ad;
  }
  20% {
    background-color: #1abc9c;
  }
  30% {
    background-color: #d35400;
  }
  40% {
    background-color: blue;
  }
  50% {
    background-color: #34495e;
  }
  60% {
    background-color: blue;
  }
  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }
  90% {
    background-color: #2980b9;
  }
  100% {
    background-color: pink;
  }
}
