title {
  font: "Times New Roman";
  text-align: center;
}
img.homepost {
  max-width: 60%;
  height: auto;
  max-height: 75%;
}
body {
  text-align: center;
  padding-left: 0;
  font-family: "Times New Roman";
  color: black;
  background-color:rgb(148, 154, 160);
}
ul.navbar {
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
h1 {
  font-family: "Times New Roman" 
}
ul.navbar li {
  display: inline;
  margin: 0.5em 0;
  padding: 0.3em;
}
ul.navbar a {
  display: inline-block;
  padding: 10px;
}
#home-nav {
  color: yellow;
}
#archive-nav {
  color: rgb(235, 86, 86);
}
#about-nav {
  color: green;
}
#misc-nav {
  color: blue;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}
.prev-next {
  color: whitesmoke;
  background-color: black;
  border: none;
}
#random {
  background-color: pink;
}
#drawvid-display {
  max-width: 15%;
  height: auto;
  max-height: 50%;
}
.boxed {
  text-align: center;
  vertical-align: middle;
  color: white;
  background: black;
}